<div class="row">
  <div class="col-12 col-md-4" *ngFor="let proyecto of data">
    <div class="card m-2" style="width: 18rem">
      <img [src]="proyecto.img" class="card-img-top p-2" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ proyecto.nombre }}</h5>
        <div>
          <a [href]="proyecto.url" class="btn btn-warning w-100">
            Visitar aplicacion</a
          >
        </div>
        <div class="mt-2">
          <a [href]="proyecto.url" class="btn btn-success w-100">
            Visitar aplicacion</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
