<form>
  <div class="agregar">
    <div class="agregar_contenedor">
      <select
        (change)="tipoOperacion($event)"
        [ngClass]="{ redfocus: tipo === 'egr' }"
        class="agregar_tipo"
      >
        <option value="ing" selected>+</option>
        <option value="egr">-</option>
      </select>
      <input
        [ngClass]="{ redfocus: tipo === 'egr' }"
        name="descripcionInput"
        type="text"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        [(ngModel)]="descripcionInput"
      />
      <input
        [ngClass]="{ redfocus: tipo === 'egr' }"
        name="valorInput"
        type="number"
        class="agregar_valor"
        placeholder="Valor"
        [(ngModel)]="valorInput"
      />
      <button class="agregar_btn" (click)="agregarValor()">
        <i
          [ngClass]="{ red: tipo === 'egr' }"
          class="ion-ios-checkmark-outline"
        ></i>
      </button>
    </div>
  </div>
</form>
