<form (ngSubmit)="f.form.valid && agregarValor()" #f="ngForm">
  <div class="agregar">
    <div class="agregar_contenedor">
      <select
        (change)="tipoOperacion($event)"
        [ngClass]="{ redfocus: tipo === 'egr' }"
        class="agregar_tipo"
      >
        <option value="ing" selected>+</option>
        <option value="egr">-</option>
      </select>
      <input
        [ngClass]="{ redfocus: tipo === 'egr' }"
        name="descripcionInput"
        type="text"
        class="agregar_descripcion"
        placeholder="Agregar Descripción"
        [(ngModel)]="descripcionInput"
        required
      />
      <input
        [ngClass]="{ redfocus: tipo === 'egr' }"
        name="valorInput"
        type="number"
        class="agregar_valor"
        placeholder="Valor"
        [(ngModel)]="valorInput"
        required
      />
      <button type="submit" class="agregar_btn">
        <i
          [ngClass]="{ red: tipo === 'egr' }"
          class="ion-ios-checkmark-outline"
          (click)="agregarValor()"
        ></i>
      </button>
    </div>
  </div>
</form>
