<form [formGroup]="form" autocomplete="off" (ngSubmit)="agregar()">
  <div class="field">
    <label class="label">Actividad</label>
    <div class="control">
      <input
        class="input"
        type="text"
        placeholder="Ingrese la actividad"
        name="actividad"
        formControlName="actividad"
        required
      />
    </div>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-success" type="submit">Agregar</button>
    </div>
  </div>
</form>
