<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de Personas</h1>
      <button
        class="btn btn-primary"
        [disabled]="deshabilitar"
        (click)="agregarPersona()"
      >
        Agregar personas
      </button>
      <p *ngIf="mostrar">{{ mensaje }} con el titulo de {{ titulo }}</p>
      <app-persona></app-persona>
      <Label>Titulo persona</Label>
      <input type="text" class="form-control" [(ngModel)]="titulo" />
      {{ titulo }}
    </div>
  </div>
</div>
