<form
  class="form-group container"
  autocomplete="off"
  (ngSubmit)="agregar()"
  #miFormulario="ngForm"
>
  <div>
    <label for="proyecto">Proyecto</label>
    <input
      autocomplete="off"
      class="form-control"
      type="text"
      id="proyecto"
      placeholder="Nombre del proyecto"
      [(ngModel)]="initialState.proyecto"
      name="proyecto"
      minlength="3"
      maxlength="15"
      required
    />
    <div
      *ngIf="miFormulario.invalid && miFormulario.touched"
      class="alert alert-danger d-flex align-items-center"
      role="alert"
    >
      <i class="bi bi-shield-x"></i>
      <div>Error: Formulario invalido</div>
    </div>
  </div>
  <div>
    <label for="Horas">Horas</label>
    <input
      class="form-control"
      type="number"
      id="Horas"
      placeholder="Horas para completar"
      name="horas"
      [(ngModel)]="initialState.horas"
      required
      min="0"
      max="100"
    />
  </div>
  <div>
    <label for="Tecnologias">Tecnologías </label>
    <div class="row">
      <div class="col-8">
        <input
          autocomplete="off"
          class="form-control"
          type="text"
          id="Tecnologias"
          placeholder="Nombre de la tecnología "
          [(ngModel)]="initialState.tecnologia"
          name="tecnologia"
          required
          minlength="3"
          maxlength="15"
        />
      </div>
      <div class="col-4">
        <button class="btn btn-success" type="button" (click)="agregarTec()">
          Agregar
        </button>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-warning mt-2 w-100" type="submit">
      Agregar proyecto
    </button>
  </div>
</form>
<pre>
  Proyecto {{ initialState | json }}
  Valido {{ miFormulario.valid }}
  Errores {{ miFormulario.errors | json }}
  Errores {{ miFormulario.controls["horas"]?.errors | json }}
</pre>
