<form
  class="form-group container"
  autocomplete="off"
  (ngSubmit)="agregar()"
  #miFormulario="ngForm"
>
  <div>
    <label for="proyecto">Proyecto</label>
    <input
      autocomplete="off"
      class="form-control"
      type="text"
      id="proyecto"
      placeholder="Nombre del proyecto"
      ngModel
      name="proyecto"
      required=""
    />
    <div
      *ngIf="miFormulario.invalid && miFormulario.touched"
      class="alert alert-danger d-flex align-items-center"
      role="alert"
    >
      <i class="bi bi-shield-x"></i>
      <div>Error: Formulario invalido</div>
    </div>
  </div>
  <div>
    <label for="Horas">Horas</label>
    <input
      class="form-control"
      type="number"
      id="Horas"
      placeholder="Horas para completar"
    />
  </div>
  <div>
    <label for="Tecnologias">Tecnologías </label>
    <div class="row">
      <div class="col-12 col-md-8">
        <input
          autocomplete="off"
          class="form-control"
          type="text"
          id="Tecnologias"
          placeholder="Nombre de la tecnología "
        />
      </div>
      <div class="col-12 col-md-4">
        <button class="btn btn-success">Agregar</button>
      </div>
    </div>
  </div>
  <div>
    <button class="btn btn-warning mt-2 w-100" type="submit">
      Agregar proyecto
    </button>
  </div>
</form>
<pre>
  Proyecto {{ miFormulario.value | json }}
  Valido {{ miFormulario.valid }}
  Valido {{ miFormulario.errors | json }}
</pre>
