<div class="container">
  <h1 class="title has-text-centered">Hola</h1>
  <hr />
  <div class="columns">
    <div class="column is-4">
      <h2 class="subtitle">Listado de tareas</h2>
    </div>
    <div class="column is-4">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Actividad</th>
            <th><abbr title="Played">Completar</abbr></th>
            <th><abbr title="Won">Eliminar</abbr></th>
            X
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>1</th>
            <td>
              <b>AA</b>
            </td>
            <td><button class="button is-link">Completar</button></td>
            <td><button class="button is-danger">Eliminar</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
