<p>Works</p>
<!-- <form class="form-group container" autocomplete="off">
  <div>
    <label for="proyecto">Proyecto</label>
    <input
      class="form-control"
      type="text"
      id="proyecto"
      placeholder="Nombre del proyecto"
    />
  </div>
  <div>
    <label for="Horas">Horas</label>
    <input
      class="form-control"
      type="number"
      id="Horas"
      placeholder="Horas para completar"
    />
  </div>
  <div>
    <label for="Tecnologias">Tecnologias</label>
    <input
      class="form-control"
      type="text"
      id="Tecnologias"
      placeholder="Nombre de la tecnologia"
    />
  </div>
  <div>
    <button class="btn btn-warning mt-2 w-100" type="submit">
      Agregar proyecto
    </button>
  </div>
</form> -->
