<form
  [formGroup]="MiFormulario"
  class="form-group container"
  autocomplete="off"
>
  <div
    *ngIf="validar()"
    class="alert alert-danger d-flex align-items-center"
    role="alert"
  >
    <i class="bi bi-shield-x"></i>
    <div>Error: Formulario invalido</div>
  </div>
  <pre>{{ MiFormulario.invalid }}</pre>
  <div>
    <label for="proyectoR">Proyecto</label>
    <input
      class="form-control"
      type="text"
      id="proyectoR"
      placeholder="Nombre del proyecto"
      formControlName="proyecto"
    />
  </div>
  <!-- <p>{{ MiFormulario.controls["proyecto"].value }}</p> -->
  <div>
    <label for="HorasR">Horas</label>
    <input
      class="form-control"
      type="number"
      id="HorasR"
      placeholder="Horas para completar"
      formControlName="horas"
    />
  </div>
  <div>
    <label for="TecnologiasR">Tecnologías </label>
    <div class="row">
      <div class="col-8">
        <input
          autocomplete="off"
          class="form-control"
          type="text"
          id="TecnologiasR"
          placeholder="Nombre de la tecnología "
          [formControl]="tecnologia"
        />
      </div>

      <div class="col-4">
        <button
          class="btn btn-success"
          (click)="agregarTecnologia()"
          type="button"
        >
          Agregar
        </button>
      </div>
      <div class="col-12 my-2">
        <ul class="list-group list-group-horizontal">
          <li
            *ngFor="let tecnologia of tecnologias.value"
            class="list-group-item"
          >
            {{ tecnologia }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div>
    <button class="btn btn-warning mt-2 w-100" type="submit">
      Agregar proyecto
    </button>
  </div>
</form>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Proyectos</th>
        <th scope="col">Horas</th>
        <th scope="col">Tecnologias</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let proyecto of proyectos">
        <td>{{ proyecto.proyecto }}</td>
        <td>{{ proyecto.horas }}</td>
        <td>{{ proyecto.tecnologias }}</td>
      </tr> -->
    </tbody>
  </table>
</div>
